In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/january_manhattan2.csv")
df

,pickup_datetime,pickup_latitude,pickup_longitude,trip_distance,passenger_count,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,tolls_amount,...,tip_amount,payment_amount,payment_type,pickup_neighborhood,dropoff_neighborhood,pickups_place,dropoff_place,dummy,pick_day,pick_weekday
0,2016-01-01 00:00:00,40.73470,-73.99037,1.10,2,2016-01-01 00:00:00,40.73241,-73.98184,7.5,0.0,...,0.00,8.80,2,Greenwich Village,Gramercy,"5,5","5,6",1,1,4
1,2016-01-01 00:00:00,40.78133,-73.96062,1.76,3,2016-01-01 00:00:00,40.75851,-73.97726,8.0,0.0,...,0.00,8.80,2,Upper East Side,Midtown,"10,8","7,6",1,1,4
2,2016-01-01 00:00:00,40.74305,-73.98012,5.52,2,2016-01-01 00:18:30,40.76314,-73.91349,19.0,0.0,...,0.00,20.30,2,Gramercy,Astoria-Long Island City,"6,6","8,12",1,1,4
3,2016-01-01 00:00:00,40.71999,-73.99406,7.45,2,2016-01-01 00:26:45,40.78987,-73.96636,26.0,0.0,...,0.00,27.30,2,Lower East Side,Upper West Side,"4,4","11,7",1,1,4
4,2016-01-01 00:00:01,40.74461,-73.97942,1.20,1,2016-01-01 00:11:55,40.75394,-73.99203,9.0,0.0,...,0.00,10.30,2,Gramercy,Garment District,"6,6","7,5",1,1,4
5,2016-01-01 00:00:02,40.79105,-73.94715,6.00,1,2016-01-01 00:11:14,40.86558,-73.92077,18.0,0.0,...,0.00,19.30,2,Yorkville,Inwood,"11,9","18,11",1,1,4
6,2016-01-01 00:00:03,40.72154,-73.98902,0.01,4,2016-01-01 00:00:11,40.72170,-73.98896,2.5,0.0,...,0.00,3.80,2,Lower East Side,Lower East Side,"4,5","4,5",1,1,4
7,2016-01-01 00:00:03,40.74492,-74.00615,0.79,1,2016-01-01 00:06:19,40.74144,-73.99380,6.0,0.0,...,0.00,7.30,2,Chelsea,Chelsea,"6,3","6,5",1,1,4
8,2016-01-01 00:00:03,40.76354,-73.96933,2.43,6,2016-01-01 00:15:49,40.74425,-73.99569,12.0,0.0,...,3.99,17.29,1,Upper East Side,Chelsea,"8,7","6,4",1,1,4
9,2016-01-01 00:00:04,40.74224,-74.00430,3.70,1,2016-01-01 00:14:32,40.70694,-74.00736,14.0,0.0,...,3.05,18.35,1,Chelsea,Financial District,"6,4","2,3",1,1,4
10,2016-01-01 00:00:05,40.79536,-73.97309,1.92,1,2016-01-01 00:07:14,40.77315,-73.97837,7.5,0.0,...,0.00,8.80,2,Upper West Side,Upper West Side,"11,6","9,6",1,1,4
11,2016-01-01 00:00:05,40.76895,-73.98516,0.54,1,2016-01-01 00:07:17,40.76173,-73.99023,6.0,0.0,...,0.00,7.30,2,Midtown,Clinton,"8,5","8,5",1,1,4
12,2016-01-01 00:00:05,40.71858,-73.99200,2.20,2,2016-01-01 00:14:27,40.73994,-74.00513,11.0,0.0,...,1.50,13.80,1,Lower East Side,West Village,"3,5","6,3",1,1,4
13,2016-01-01 00:00:06,40.77470,-73.98210,1.70,1,2016-01-01 00:04:44,40.79671,-73.97094,7.0,0.0,...,1.65,9.95,1,Upper West Side,Upper West Side,"9,6","11,7",1,1,4
14,2016-01-01 00:00:06,40.71850,-73.99484,1.38,1,2016-01-01 00:07:14,40.73423,-73.98981,7.0,0.0,...,1.66,9.96,1,Lower East Side,Greenwich Village,"3,4","5,5",1,1,4
15,2016-01-01 00:00:07,40.72659,-73.98917,1.80,1,2016-01-01 00:09:49,40.71507,-74.00948,9.0,0.0,...,0.00,10.30,2,East Village,Tribeca,"4,5","3,3",1,1,4
16,2016-01-01 00:00:08,40.73668,-73.99741,0.69,1,2016-01-01 00:03:24,40.73268,-73.98566,4.5,0.0,...,0.00,5.80,2,Greenwich Village,East Village,"5,4","5,5",1,1,4
17,2016-01-01 00:00:08,40.74722,-73.99714,0.72,1,2016-01-01 00:04:37,40.75180,-74.00449,5.0,0.0,...,0.00,6.30,2,Chelsea,Chelsea,"6,4","7,4",1,1,4
18,2016-01-01 00:00:08,40.72017,-73.99907,3.09,1,2016-01-01 00:18:51,40.75656,-73.97339,14.5,0.0,...,0.00,15.80,2,Little Italy,Midtown,"4,4","7,6",1,1,4
19,2016-01-01 00:00:09,40.73696,-73.99713,5.30,3,2016-01-01 00:19:03,40.75558,-73.92842,18.0,0.0,...,3.85,23.15,1,Greenwich Village,Astoria-Long Island City,"5,4","7,11",1,1,4
20,2016-01-01 00:00:10,40.77807,-73.95441,0.87,1,2016-01-01 00:02:20,40.78858,-73.94893,4.5,0.0,...,0.00,5.80,2,Upper East Side,Yorkville,"9,8","10,9",1,1,4
21,2016-01-01 00:00:10,40.74390,-73.99940,0.97,2,2016-01-01 00:06:15,40.74532,-73.98888,6.0,0.0,...,0.00,7.30,2,Chelsea,Chelsea,"6,4","6,5",1,1,4
22,2016-01-01 00:00:14,40.77201,-73.99027,0.44,2,2016-01-01 00:02:38,40.76977,-73.99504,4.0,0.0,...,1.06,6.36,1,Upper West Side,Midtown,"9,5","9,4",1,1,4
23,2016-01-01 00:00:14,40.74424,-73.99560,2.40,1,2016-01-01 00:13:02,40.76871,-73.98546,11.0,0.0,...,3.05,15.35,1,Chelsea,Midtown,"6,4","8,5",1,1,4
24,2016-01-01 00:00:16,40.77488,-73.98215,2.90,2,2016-01-01 00:33:00,40.74411,-73.98136,20.5,0.0,...,0.00,21.80,2,Upper West Side,Gramercy,"9,6","6,6",1,1,4
25,2016-01-01 00:00:17,40.73064,-74.00268,1.50,1,2016-01-01 00:13:59,40.72621,-73.98042,10.0,0.0,...,3.35,14.65,1,Greenwich Village,East Village,"5,4","4,6",1,1,4
26,2016-01-01 00:00:17,40.71916,-73.98174,9.63,5,2016-01-01 00:14:26,40.82918,-73.93883,27.0,0.0,...,8.49,36.79,1,Lower East Side,Harlem,"3,6","15,10",1,1,4
27,2016-01-01 00:00:17,40.74207,-74.00806,1.20,1,2016-01-01 00:19:14,40.74216,-74.00229,12.5,0.0,...,0.00,13.80,3,West Village,Chelsea,"6,3","6,4",1,1,4
28,2016-01-01 00:00:17,40.77374,-73.98166,2.32,1,2016-01-01 00:42:23,40.75384,-73.99596,19.0,0.0,...,0.00,20.30,2,Upper West Side,Clinton,"9,6","7,4",1,1,4
29,2016-01-01 00:00:18,40.77502,-73.96306,1.17,5,2016-01-01 00:05:44,40.77880,-73.95174,6.0,0.0,...,0.00,7.30,2,Upper East Side,Upper East Side,"9,7","9,8",1,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9423006,2016-01-31 23:59:36,40.75265,-73.97336,0.87,2,2016-02-01 00:02:22,40.76377,-73.96489,5.0,0.0,...,1.26,7.56,1,Midtown,Upper East Side,"7,6","8,7",1,31,6
9423007,2016-01-31 23:59:36,40.72885,-73.97673,4.61,1,2016-02-01 00:17:26,40.67954,-73.97581,16.5,0.0,...,0.00,17.80,2,East Village,Park Slope,"4,6","0,6",1,31,6
9423008,2016-01-31 23:59:36,40.73092,-74.00096,5.20,2,2016-02-01 00:19:20,40.67475,-73.96318,18.5,0.0,...,4.95,24.75,1,Greenwich Village,Fort Green,"5,4","0,7",1,31,6
9423009,2016-01-31 23:59:37,40.74380,-74.00616,1.60,1,2016-02-01 00:07:11,40.74304,-73.98853,7.5,0.0,...,0.00,8.80,2,Chelsea,Gramercy,"6,3","6,5",1,31,6
9423010,2016-01-31 23:59:38,40.77369,-73.95777,2.42,5,2016-02-01 00:06:58,40.79863,-73.93351,9.0,0.0,...,0.00,10.30,2,Upper East Side,East Harlem,"9,8","11,10",1,31,6
9423011,2016-01-31 23:59:39,40.72703,-73.98561,2.57,1,2016-02-01 00:18:24,40.77376,-73.93034,15.0,0.0,...,0.00,16.30,2,East Village,Astoria-Long Island City,"4,5","9,10",1,31,6
9423012,2016-01-31 23:59:40,40.79461,-73.97149,9.60,1,2016-02-01 00:34:03,40.83978,-73.91837,34.0,0.0,...,0.00,35.30,2,Upper West Side,High Bridge,"11,7","16,12",1,31,6
9423013,2016-01-31 23:59:41,40.80455,-73.93737,0.05,1,2016-02-01 00:03:56,40.80431,-73.93758,4.5,0.0,...,0.00,5.80,2,Harlem,East Harlem,"12,10","12,10",1,31,6
9423014,2016-01-31 23:59:41,40.75937,-73.98458,5.65,2,2016-02-01 00:16:32,40.82013,-73.95499,19.5,0.0,...,0.00,20.80,1,Midtown,Hamilton Heights,"7,5","14,8",1,31,6
9423015,2016-01-31 23:59:44,40.73288,-74.00397,6.74,1,2016-02-01 00:22:53,40.67239,-73.93101,23.0,0.0,...,4.86,29.16,1,West Village,Bedford-Stuyvesant,"5,4","0,10",1,31,6
9423016,2016-01-31 23:59:45,40.71875,-73.98812,4.15,3,2016-02-01 00:15:23,40.70059,-73.92170,15.0,0.0,...,3.26,19.56,1,Lower East Side,Bushwick,"3,5","2,11",1,31,6
9423017,2016-01-31 23:59:46,40.72048,-73.98719,1.30,1,2016-02-01 00:07:46,40.73141,-73.97496,7.5,0.0,...,2.00,10.80,1,Lower East Side,Gramercy,"4,5","5,6",1,31,6
9423018,2016-01-31 23:59:48,40.72889,-73.98440,0.70,2,2016-02-01 00:04:44,40.73559,-73.99236,5.5,0.0,...,1.35,8.15,1,East Village,Greenwich Village,"4,5","5,5",1,31,6
9423019,2016-01-31 23:59:49,40.72438,-73.98756,6.55,1,2016-02-01 00:22:36,40.80084,-73.95860,21.5,0.0,...,4.56,27.36,1,East Village,Harlem,"4,5","12,8",1,31,6
9423020,2016-01-31 23:59:51,40.74284,-73.98109,0.71,1,2016-02-01 00:03:15,40.75063,-73.97881,4.5,0.0,...,1.45,7.25,1,Gramercy,Murray Hill,"6,6","7,6",1,31,6
9423021,2016-01-31 23:59:52,40.73639,-73.98493,0.99,1,2016-02-01 00:03:20,40.74887,-73.97607,5.0,0.0,...,1.26,7.56,1,Gramercy,Murray Hill,"5,5","6,6",1,31,6
9423022,2016-01-31 23:59:52,40.76479,-73.97318,1.00,1,2016-02-01 00:03:43,40.76172,-73.98613,5.5,0.0,...,0.00,6.80,2,Central Park,Midtown,"8,6","8,5",1,31,6
9423023,2016-01-31 23:59:52,40.75505,-73.97508,1.14,1,2016-02-01 00:03:46,40.74207,-73.98282,5.5,0.0,...,1.36,8.16,1,Midtown,Gramercy,"7,6","6,6",1,31,6
9423024,2016-01-31 23:59:53,40.72983,-74.00057,2.10,1,2016-02-01 00:11:03,40.72578,-73.98377,10.0,0.0,...,0.00,11.30,1,Greenwich Village,East Village,"5,4","4,5",1,31,6
9423025,2016-01-31 23:59:53,40.71606,-74.00703,5.44,6,2016-02-01 00:18:18,40.78402,-73.97618,18.5,0.0,...,3.96,23.76,1,Tribeca,Upper West Side,"3,3","10,6",1,31,6
9423026,2016-01-31 23:59:56,40.74187,-73.99355,2.49,1,2016-02-01 00:06:28,40.76187,-73.96685,9.0,0.0,...,2.58,12.88,1,Chelsea,Upper East Side,"6,5","8,7",1,31,6
9423027,2016-01-31 23:59:56,40.72383,-74.00466,2.40,1,2016-02-01 00:08:03,40.74717,-73.98119,9.5,0.0,...,0.00,10.80,1,Soho,Gramercy,"4,3","6,6",1,31,6
9423028,2016-01-31 23:59:57,40.74152,-73.98744,2.74,1,2016-02-01 00:09:00,40.71005,-74.00619,10.5,0.0,...,3.54,15.34,1,Gramercy,Financial District,"6,5","3,3",1,31,6
9423029,2016-01-31 23:59:57,40.72486,-73.99236,3.40,1,2016-02-01 00:13:28,40.76514,-73.97666,13.5,0.0,...,2.00,16.80,1,East Village,Midtown,"4,5","8,6",1,31,6
9423030,2016-01-31 23:59:57,40.76300,-73.98600,9.18,2,2016-02-01 00:17:58,40.85940,-73.92785,27.0,0.0,...,5.66,33.96,1,Midtown,Washington Heights,"8,5","18,11",1,31,6
9423031,2016-01-31 23:59:58,40.75417,-73.98474,2.20,1,2016-02-01 00:07:36,40.78054,-73.98373,9.0,0.0,...,3.05,13.35,1,Garment District,Upper West Side,"7,5","10,5",1,31,6
9423032,2016-01-31 23:59:59,40.73433,-74.00294,0.80,2,2016-02-01 00:07:26,40.73919,-73.99695,6.5,0.0,...,0.00,7.80,1,West Village,Chelsea,"5,4","5,4",1,31,6
9423033,2016-01-31 23:59:59,40.72823,-73.99911,1.10,1,2016-02-01 00:09:28,40.73845,-73.99717,8.0,0.0,...,0.00,9.30,2,Greenwich Village,Chelsea,"4,4","5,4",1,31,6
9423034,2016-01-31 23:59:59,40.72007,-73.98833,2.64,1,2016-02-01 00:12:16,40.74385,-74.00665,11.0,0.0,...,0.00,12.30,2,Lower East Side,Chelsea,"4,5","6,3",1,31,6
9423035,2016-01-31 23:59:59,40.72289,-73.98891,3.95,1,2016-02-01 00:13:01,40.68917,-73.96004,14.0,0.0,...,3.06,18.36,1,Lower East Side,Fort Green,"4,5","0,8",1,31,6

In [3]:
import dateutil
df['time']=df['pickup_datetime'].apply(dateutil.parser.parse)

In [4]:
df.head()

,pickup_datetime,pickup_latitude,pickup_longitude,trip_distance,passenger_count,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,tolls_amount,...,payment_amount,payment_type,pickup_neighborhood,dropoff_neighborhood,pickups_place,dropoff_place,dummy,pick_day,pick_weekday,time
0,2016-01-01 00:00:00,40.73470,-73.99037,1.10,2,2016-01-01 00:00:00,40.73241,-73.98184,7.5,0.0,...,8.8,2,Greenwich Village,Gramercy,"5,5","5,6",1,1,4,2016-01-01 00:00:00
1,2016-01-01 00:00:00,40.78133,-73.96062,1.76,3,2016-01-01 00:00:00,40.75851,-73.97726,8.0,0.0,...,8.8,2,Upper East Side,Midtown,"10,8","7,6",1,1,4,2016-01-01 00:00:00
2,2016-01-01 00:00:00,40.74305,-73.98012,5.52,2,2016-01-01 00:18:30,40.76314,-73.91349,19.0,0.0,...,20.3,2,Gramercy,Astoria-Long Island City,"6,6","8,12",1,1,4,2016-01-01 00:00:00
3,2016-01-01 00:00:00,40.71999,-73.99406,7.45,2,2016-01-01 00:26:45,40.78987,-73.96636,26.0,0.0,...,27.3,2,Lower East Side,Upper West Side,"4,4","11,7",1,1,4,2016-01-01 00:00:00
4,2016-01-01 00:00:01,40.74461,-73.97942,1.20,1,2016-01-01 00:11:55,40.75394,-73.99203,9.0,0.0,...,10.3,2,Gramercy,Garment District,"6,6","7,5",1,1,4,2016-01-01 00:00:01

In [5]:
df['pick_hour']=df['time'].dt.hour

In [7]:
def WeekGroup(x):
    if x==0 or x==1or x==2 or x == 3:
        return 0
    if x==4:
        return 1
    if x ==5:
        return 2
    if x==6:
        return 3

In [8]:
df['pick_weekgroup']= df['pick_weekday'].apply(WeekGroup)

In [9]:
df.head()

,pickup_datetime,pickup_latitude,pickup_longitude,trip_distance,passenger_count,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,tolls_amount,...,pickup_neighborhood,dropoff_neighborhood,pickups_place,dropoff_place,dummy,pick_day,pick_weekday,time,pick_hour,pick_weekgroup
0,2016-01-01 00:00:00,40.73470,-73.99037,1.10,2,2016-01-01 00:00:00,40.73241,-73.98184,7.5,0.0,...,Greenwich Village,Gramercy,"5,5","5,6",1,1,4,2016-01-01 00:00:00,0,1
1,2016-01-01 00:00:00,40.78133,-73.96062,1.76,3,2016-01-01 00:00:00,40.75851,-73.97726,8.0,0.0,...,Upper East Side,Midtown,"10,8","7,6",1,1,4,2016-01-01 00:00:00,0,1
2,2016-01-01 00:00:00,40.74305,-73.98012,5.52,2,2016-01-01 00:18:30,40.76314,-73.91349,19.0,0.0,...,Gramercy,Astoria-Long Island City,"6,6","8,12",1,1,4,2016-01-01 00:00:00,0,1
3,2016-01-01 00:00:00,40.71999,-73.99406,7.45,2,2016-01-01 00:26:45,40.78987,-73.96636,26.0,0.0,...,Lower East Side,Upper West Side,"4,4","11,7",1,1,4,2016-01-01 00:00:00,0,1
4,2016-01-01 00:00:01,40.74461,-73.97942,1.20,1,2016-01-01 00:11:55,40.75394,-73.99203,9.0,0.0,...,Gramercy,Garment District,"6,6","7,5",1,1,4,2016-01-01 00:00:01,0,1

In [10]:
df2 = df.loc[:,['pickups_place','pick_weekgroup','pick_hour','dummy']]
df2

        pickups_place  pick_weekgroup  pick_hour  dummy
0                 5,5               1          0      1
1                10,8               1          0      1
2                 6,6               1          0      1
3                 4,4               1          0      1
4                 6,6               1          0      1
5                11,9               1          0      1
6                 4,5               1          0      1
7                 6,3               1          0      1
8                 8,7               1          0      1
9                 6,4               1          0      1
10               11,6               1          0      1
11                8,5               1          0      1
12                3,5               1          0      1
13                9,6               1          0      1
14                3,4               1          0      1
15                4,5               1          0      1
16                5,4               1          0      1
17                6,4               1          0      1
18                4,4               1          0      1
19                5,4               1          0      1
20                9,8               1          0      1
21                6,4               1          0      1
22                9,5               1          0      1
23                6,4               1          0      1
24                9,6               1          0      1
25                5,4               1          0      1
26                3,6               1          0      1
27                6,3               1          0      1
28                9,6               1          0      1
29                9,7               1          0      1
...               ...             ...        ...    ...
9423006           7,6               3         23      1
9423007           4,6               3         23      1
9423008           5,4               3         23      1
9423009           6,3               3         23      1
9423010           9,8               3         23      1
9423011           4,5               3         23      1
9423012          11,7               3         23      1
9423013         12,10               3         23      1
9423014           7,5               3         23      1
9423015           5,4               3         23      1
9423016           3,5               3         23      1
9423017           4,5               3         23      1
9423018           4,5               3         23      1
9423019           4,5               3         23      1
9423020           6,6               3         23      1
9423021           5,5               3         23      1
9423022           8,6               3         23      1
9423023           7,6               3         23      1
9423024           5,4               3         23      1
9423025           3,3               3         23      1
9423026           6,5               3         23      1
9423027           4,3               3         23      1
9423028           6,5               3         23      1
9423029           4,5               3         23      1
9423030           8,5               3         23      1
9423031           7,5               3         23      1
9423032           5,4               3         23      1
9423033           4,4               3         23      1
9423034           4,5               3         23      1
9423035           4,5               3         23      1

[9423036 rows x 4 columns]

In [59]:
group1 = None
g = None

In [15]:
group1= df2.groupby(['pickups_place','pick_weekgroup','pick_hour'])
sum1 = group1.sum()

In [16]:
sum1

                                        dummy
pickups_place pick_weekgroup pick_hour
0,10          0              0              2
                             1              5
                             2              1
                             7              1
                             11             1
                             12             1
                             15             1
                             17             1
                             18             1
                             23             1
              1              0              2
                             1              1
                             2              4
                             3              2
                             4              2
                             13             1
                             20             1
              2              2              1
                             7              1
                             8              1
                             15             1
                             20             2
                             21             1
                             23             1
              3              0              2
                             1              1
                             2              1
                             3              1
                             4              1
                             14             1
...                                       ...
9,9           2              18          1371
                             19          1386
                             20          1046
                             21           793
                             22           855
                             23           746
              3              0            613
                             1            397
                             2            329
                             3            158
                             4            109
                             5            102
                             6            230
                             7            409
                             8            677
                             9           1068
                             10          1446
                             11          1488
                             12          1525
                             13          1403
                             14          1276
                             15          1205
                             16          1191
                             17          1160
                             18          1154
                             19           871
                             20           771
                             21           584
                             22           496
                             23           297

[11062 rows x 1 columns]

In [19]:
days = df.loc[:,['pick_weekgroup','pick_day']]
days.drop_duplicates(inplace=True)
days

         pick_weekgroup  pick_day
0                     1         1
285286                2         2
552846                3         3
802549                0         4
1069978               0         5
1366108               0         6
1669911               0         7
1988813               1         8
2333442               2         9
2694717               3        10
2994620               0        11
3289764               0        12
3611611               0        13
3958349               0        14
4302522               1        15
4649153               2        16
5012132               3        17
5339803               0        18
5630341               0        19
5963683               0        20
6294829               0        21
6642075               1        22
7009941               2        23
7077018               3        24
7213047               0        25
7445806               0        26
7724378               0        27
8036952               0        28
8369578               1        29
8731161               2        30
9116350               3        31

In [20]:
days['d'] =1

In [21]:
group_days = days.groupby('pick_weekgroup')
weekday_count= group_days.sum()
weekday_count.drop('pick_day',axis=1, inplace=True)
weekday_count

                 d
pick_weekgroup
0               16
1                5
2                5
3                5

In [23]:
#sum1= sum1.drop('pick_day', axis=1)
sum1.reset_index(inplace=True)
sum1
#group_sum1 = sum1.groupby()

      pickups_place  pick_hour  pick_weekgroup  dummy
0              0,10          0               0      2
1              0,10          1               0      5
2              0,10          2               0      1
3              0,10          7               0      1
4              0,10         11               0      1
5              0,10         12               0      1
6              0,10         15               0      1
7              0,10         17               0      1
8              0,10         18               0      1
9              0,10         23               0      1
10             0,10          0               1      2
11             0,10          1               1      1
12             0,10          2               1      4
13             0,10          3               1      2
14             0,10          4               1      2
15             0,10         13               1      1
16             0,10         20               1      1
17             0,10          2               2      1
18             0,10          7               2      1
19             0,10          8               2      1
20             0,10         15               2      1
21             0,10         20               2      2
22             0,10         21               2      1
23             0,10         23               2      1
24             0,10          0               3      2
25             0,10          1               3      1
26             0,10          2               3      1
27             0,10          3               3      1
28             0,10          4               3      1
29             0,10         14               3      1
...             ...        ...             ...    ...
11032           9,9         18               2   1371
11033           9,9         19               2   1386
11034           9,9         20               2   1046
11035           9,9         21               2    793
11036           9,9         22               2    855
11037           9,9         23               2    746
11038           9,9          0               3    613
11039           9,9          1               3    397
11040           9,9          2               3    329
11041           9,9          3               3    158
11042           9,9          4               3    109
11043           9,9          5               3    102
11044           9,9          6               3    230
11045           9,9          7               3    409
11046           9,9          8               3    677
11047           9,9          9               3   1068
11048           9,9         10               3   1446
11049           9,9         11               3   1488
11050           9,9         12               3   1525
11051           9,9         13               3   1403
11052           9,9         14               3   1276
11053           9,9         15               3   1205
11054           9,9         16               3   1191
11055           9,9         17               3   1160
11056           9,9         18               3   1154
11057           9,9         19               3    871
11058           9,9         20               3    771
11059           9,9         21               3    584
11060           9,9         22               3    496
11061           9,9         23               3    297

[11062 rows x 4 columns]

In [25]:
weekday_count = weekday_count.reset_index()
weekday_count

   pick_weekgroup   d
0               0  16
1               1   5
2               2   5
3               3   5

In [31]:
grid_pickups =sum1.merge(weekday_count)
grid_pickups

      pickups_place  pick_hour  pick_weekgroup  dummy   d
0              0,10          0               0      2  16
1              0,10          1               0      5  16
2              0,10          2               0      1  16
3              0,10          7               0      1  16
4              0,10         11               0      1  16
5              0,10         12               0      1  16
6              0,10         15               0      1  16
7              0,10         17               0      1  16
8              0,10         18               0      1  16
9              0,10         23               0      1  16
10             0,11          1               0      2  16
11             0,11          3               0      1  16
12             0,11          6               0      2  16
13             0,11          7               0      3  16
14             0,11         20               0      2  16
15             0,11         22               0      1  16
16             0,11         23               0      1  16
17             0,12          0               0      2  16
18             0,12          2               0      1  16
19             0,12          3               0      1  16
20             0,12         21               0      1  16
21             0,12         23               0      3  16
22             0,13          0               0      1  16
23             0,13         14               0      1  16
24             0,13         20               0      1  16
25              0,4          0               0      8  16
26              0,4          1               0      3  16
27              0,4          2               0      2  16
28              0,4          4               0      3  16
29              0,4          5               0     70  16
...             ...        ...             ...    ...  ..
11032           9,8         18               3   3738   5
11033           9,8         19               3   3071   5
11034           9,8         20               3   2931   5
11035           9,8         21               3   2364   5
11036           9,8         22               3   1805   5
11037           9,8         23               3   1227   5
11038           9,9          0               3    613   5
11039           9,9          1               3    397   5
11040           9,9          2               3    329   5
11041           9,9          3               3    158   5
11042           9,9          4               3    109   5
11043           9,9          5               3    102   5
11044           9,9          6               3    230   5
11045           9,9          7               3    409   5
11046           9,9          8               3    677   5
11047           9,9          9               3   1068   5
11048           9,9         10               3   1446   5
11049           9,9         11               3   1488   5
11050           9,9         12               3   1525   5
11051           9,9         13               3   1403   5
11052           9,9         14               3   1276   5
11053           9,9         15               3   1205   5
11054           9,9         16               3   1191   5
11055           9,9         17               3   1160   5
11056           9,9         18               3   1154   5
11057           9,9         19               3    871   5
11058           9,9         20               3    771   5
11059           9,9         21               3    584   5
11060           9,9         22               3    496   5
11061           9,9         23               3    297   5

[11062 rows x 5 columns]

In [27]:
x = grid_pickups[grid_pickups['pickups_place']=='0,10']
x

     pickups_place  pick_hour  pick_weekgroup  dummy   d
0             0,10          0               0      2  16
1             0,10          1               0      5  16
2             0,10          2               0      1  16
3             0,10          7               0      1  16
4             0,10         11               0      1  16
5             0,10         12               0      1  16
6             0,10         15               0      1  16
7             0,10         17               0      1  16
8             0,10         18               0      1  16
9             0,10         23               0      1  16
2935          0,10          0               1      2   5
2936          0,10          1               1      1   5
2937          0,10          2               1      4   5
2938          0,10          3               1      2   5
2939          0,10          4               1      2   5
2940          0,10         13               1      1   5
2941          0,10         20               1      1   5
5702          0,10          2               2      1   5
5703          0,10          7               2      1   5
5704          0,10          8               2      1   5
5705          0,10         15               2      1   5
5706          0,10         20               2      2   5
5707          0,10         21               2      1   5
5708          0,10         23               2      1   5
8344          0,10          0               3      2   5
8345          0,10          1               3      1   5
8346          0,10          2               3      1   5
8347          0,10          3               3      1   5
8348          0,10          4               3      1   5
8349          0,10         14               3      1   5
8350          0,10         16               3      1   5
8351          0,10         19               3      1   5

In [32]:
grid_pickups['mean_per_hour']= grid_pickups['dummy']/grid_pickups['d']
grid_pickups

      pickups_place  pick_hour  pick_weekgroup  dummy   d  mean_per_hour
0              0,10          0               0      2  16         0.1250
1              0,10          1               0      5  16         0.3125
2              0,10          2               0      1  16         0.0625
3              0,10          7               0      1  16         0.0625
4              0,10         11               0      1  16         0.0625
5              0,10         12               0      1  16         0.0625
6              0,10         15               0      1  16         0.0625
7              0,10         17               0      1  16         0.0625
8              0,10         18               0      1  16         0.0625
9              0,10         23               0      1  16         0.0625
10             0,11          1               0      2  16         0.1250
11             0,11          3               0      1  16         0.0625
12             0,11          6               0      2  16         0.1250
13             0,11          7               0      3  16         0.1875
14             0,11         20               0      2  16         0.1250
15             0,11         22               0      1  16         0.0625
16             0,11         23               0      1  16         0.0625
17             0,12          0               0      2  16         0.1250
18             0,12          2               0      1  16         0.0625
19             0,12          3               0      1  16         0.0625
20             0,12         21               0      1  16         0.0625
21             0,12         23               0      3  16         0.1875
22             0,13          0               0      1  16         0.0625
23             0,13         14               0      1  16         0.0625
24             0,13         20               0      1  16         0.0625
25              0,4          0               0      8  16         0.5000
26              0,4          1               0      3  16         0.1875
27              0,4          2               0      2  16         0.1250
28              0,4          4               0      3  16         0.1875
29              0,4          5               0     70  16         4.3750
...             ...        ...             ...    ...  ..            ...
11032           9,8         18               3   3738   5       747.6000
11033           9,8         19               3   3071   5       614.2000
11034           9,8         20               3   2931   5       586.2000
11035           9,8         21               3   2364   5       472.8000
11036           9,8         22               3   1805   5       361.0000
11037           9,8         23               3   1227   5       245.4000
11038           9,9          0               3    613   5       122.6000
11039           9,9          1               3    397   5        79.4000
11040           9,9          2               3    329   5        65.8000
11041           9,9          3               3    158   5        31.6000
11042           9,9          4               3    109   5        21.8000
11043           9,9          5               3    102   5        20.4000
11044           9,9          6               3    230   5        46.0000
11045           9,9          7               3    409   5        81.8000
11046           9,9          8               3    677   5       135.4000
11047           9,9          9               3   1068   5       213.6000
11048           9,9         10               3   1446   5       289.2000
11049           9,9         11               3   1488   5       297.6000
11050           9,9         12               3   1525   5       305.0000
11051           9,9         13               3   1403   5       280.6000
11052           9,9         14               3   1276   5       255.2000
11053           9,9         15               3   1205   5       241.0000
11054           9,9         16               3   1191   5       238.2000
11055           9,9         17               3   1160   5       232.0000
11056           9,9         18               3   1154   5       230.8000
11057           9,9         19               3    871   5       174.2000
11058           9,9         20               3    771   5       154.2000
11059           9,9         21               3    584   5       116.8000
11060           9,9         22               3    496   5        99.2000
11061           9,9         23               3    297   5        59.4000

[11062 rows x 6 columns]

In [29]:
sum1

      pickups_place  pick_hour  pick_weekgroup  dummy
0              0,10          0               0      2
1              0,10          1               0      5
2              0,10          2               0      1
3              0,10          7               0      1
4              0,10         11               0      1
5              0,10         12               0      1
6              0,10         15               0      1
7              0,10         17               0      1
8              0,10         18               0      1
9              0,10         23               0      1
10             0,10          0               1      2
11             0,10          1               1      1
12             0,10          2               1      4
13             0,10          3               1      2
14             0,10          4               1      2
15             0,10         13               1      1
16             0,10         20               1      1
17             0,10          2               2      1
18             0,10          7               2      1
19             0,10          8               2      1
20             0,10         15               2      1
21             0,10         20               2      2
22             0,10         21               2      1
23             0,10         23               2      1
24             0,10          0               3      2
25             0,10          1               3      1
26             0,10          2               3      1
27             0,10          3               3      1
28             0,10          4               3      1
29             0,10         14               3      1
...             ...        ...             ...    ...
11032           9,9         18               2   1371
11033           9,9         19               2   1386
11034           9,9         20               2   1046
11035           9,9         21               2    793
11036           9,9         22               2    855
11037           9,9         23               2    746
11038           9,9          0               3    613
11039           9,9          1               3    397
11040           9,9          2               3    329
11041           9,9          3               3    158
11042           9,9          4               3    109
11043           9,9          5               3    102
11044           9,9          6               3    230
11045           9,9          7               3    409
11046           9,9          8               3    677
11047           9,9          9               3   1068
11048           9,9         10               3   1446
11049           9,9         11               3   1488
11050           9,9         12               3   1525
11051           9,9         13               3   1403
11052           9,9         14               3   1276
11053           9,9         15               3   1205
11054           9,9         16               3   1191
11055           9,9         17               3   1160
11056           9,9         18               3   1154
11057           9,9         19               3    871
11058           9,9         20               3    771
11059           9,9         21               3    584
11060           9,9         22               3    496
11061           9,9         23               3    297

[11062 rows x 4 columns]

In [30]:
sum1['pickups_place'].value_counts()

7,7      96
16,10    96
9,7      96
9,5      96
9,8      96
9,9      96
17,10    96
2,2      96
2,3      96
13,9     96
13,8     96
14,10    96
0,6      96
0,5      96
7,10     96
10,9     96
10,8     96
10,7     96
10,6     96
9,6      96
11,8     96
2,4      96
11,9     96
13,10    96
3,3      96
3,2      96
11,7     96
12,10    96
11,6     96
3,6      96
         ..
1,4      20
2,6      19
0,12     17
12,6     16
9,10     15
4,13     13
4,11     11
5,7      10
8,13     10
14,13     9
18,13     9
12,13     8
20,12     7
3,12      7
3,11      7
1,13      6
17,13     5
13,13     5
0,13      5
15,8      3
15,13     2
16,13     2
4,2       2
19,10     2
20,11     1
2,13      1
20,13     1
5,13      1
3,13      1
5,8       1
Name: pickups_place, Length: 165, dtype: int64

In [38]:
variance_per_place_df = grid_pickups.loc[:, [ "pickups_place","pick_weekgroup","dummy","mean_per_hour"]]
variance_per_place_df.head(3)

  pickups_place  pick_weekgroup  dummy  mean_per_hour
0          0,10               0      2         0.1250
1          0,10               0      5         0.3125
2          0,10               0      1         0.0625

In [39]:
variance_per_place_group = variance_per_place_df.groupby(['pickups_place','pick_weekgroup'])
variance_per_place = variance_per_place_group.var()
variance_per_place.head(15)

                                     dummy  mean_per_hour
pickups_place pick_weekgroup
0,10          0                   1.611111       0.006293
              1                   1.142857       0.045714
              2                   0.142857       0.005714
              3                   0.125000       0.005000
0,11          0                   0.571429       0.002232
              1                   2.000000       0.080000
              2                   0.000000       0.000000
              3                   0.111111       0.004444
0,12          0                   0.800000       0.003125
              1                   0.125000       0.005000
              2                        NaN            NaN
              3                   0.000000       0.000000
0,13          0                   0.000000       0.000000
              1                   0.000000       0.000000
0,4           0               19042.474308      74.384665

In [47]:
sum1.loc[(sum1['pickups_place']=='0,4')&(sum1['pick_weekgroup']==0),:]

    pickups_place  pick_hour  pick_weekgroup  dummy
78            0,4          0               0      8
79            0,4          1               0      3
80            0,4          2               0      2
81            0,4          4               0      3
82            0,4          5               0     70
83            0,4          6               0    267
84            0,4          7               0    396
85            0,4          8               0    526
86            0,4          9               0    230
87            0,4         10               0     81
88            0,4         11               0     42
89            0,4         12               0     27
90            0,4         13               0     20
91            0,4         14               0     20
92            0,4         15               0     21
93            0,4         16               0     12
94            0,4         17               0     17
95            0,4         18               0     35
96            0,4         19               0     28
97            0,4         20               0     27
98            0,4         21               0     27
99            0,4         22               0     34
100           0,4         23               0     19

In [59]:
std_dev = variance_per_place.loc[['7,6','7,5','8,6','8,7','5,5','9,8','6,6','8,5','4,5'],['mean_per_hour']]

In [64]:
import math
std_dev['std_dev']=std_dev['mean_per_hour'].apply(math.sqrt)

In [65]:
std_dev

                              mean_per_hour     std_dev
pickups_place pick_weekgroup
4,5           0                41512.235047  203.745515
              1               103338.890435  321.463669
              2               261547.763406  511.417406
              3               261315.746014  511.190518
5,5           0                91219.794773  302.026149
              1                81450.006957  285.394476
              2                98639.788696  314.069719
              3                81207.346014  284.969026
6,6           0                72353.290584  268.985670
              1                57049.140797  238.849620
              2                46814.441739  216.366452
              3                38685.577319  196.686495
7,5           0               153011.394588  391.166709
              1               112043.107174  334.728408
              2                88351.717971  297.240169
              3                86561.706667  294.213709
7,6           0               310101.288270  556.867388
              1               181554.966884  426.092674
              2               108017.356449  328.659940
              3                93514.554710  305.801496
8,5           0                48815.009935  220.941191
              1                44156.659058  210.134859
              2                40919.888623  202.286650
              3                29985.885145  173.164330
8,6           0               256527.173170  506.485116
              1               166402.915870  407.925135
              2                97424.656232  312.129230
              3                87808.354783  296.324745
8,7           0               175325.177989  418.718495
              1               102095.666014  319.524124
              2                72603.509565  269.450384
              3                64873.842319  254.703440
9,8           0               104360.486724  323.048737
              1                65097.364348  255.141851
              2                61116.525145  247.217566
              3                65870.398841  256.652292